{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container mt-5">
    <h3 class="mb-4">Add Beneficiary</h3>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
      <!-- <div class="form-group mb-3">
            <label for="name">Beneficiary Name</label>
            <input type="text" class="form-control" id="name" name="name" value="{{ user.beneficiary.name }}" placeholder="E.g. Friend, Office, Customer" required="required">
        </div>

        <div class="form-group mb-3">
            <label for="account_number">Phone/ Smartcard/ Meter Number</label>
            <input type="text" name="account_number" class="form-control" value="{{ user.beneficiary.account_number }}" id="recipient" required="required">
        </div>

        <div class="form-group mb-3">
            <label for="beneficiary.provider">Provider</label>
            <input type="text" name="beneficiary.provider" class="form-control" value="{{ user.beneficiary.provider }}" id="recipient" required="required">
        </div> -->
       
        <button type="submit" class="btn btn-primary">Update</button>
        <a href="{% url 'beneficiary_list' %}" class="btn btn-primary" style="display: inline-block;">Cancel</a>
    </form>
    
</div>

{% endblock %}