<p>Hello {{user.get_username}},</p>
<p>You requested a password reset. Click the link below to set a new password: </p>
<p style="text-align: center;">
    <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token }" style="background-color: #007bff; color: white; padding: 10px 20px; text-decoration: none; border-radius: 5px; display: inline-block;">Reset Your Password</a>
</p>
<p>This link will expire soon. If you didn't request this, you can safely ignore this email.</p>
<br>
<p>Thanks,<br><strong>The WebSubApp Team.</strong></p>