{% extends 'base.html' %}
{% load static %}
{% block content %}

<div>
    <img src="{% static 'images/ikedc.png' %}" alt="MTN" width="60" height="60">
</div>
<h2>IKEDC-Prepaid Bill Payment</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    {% if customer_name %}
    <p>{{ customer_name }}</p>
    {% endif %}

    {% if not verified %}
    <button type="submit" name="verify">verify</button>
    {% endif %}
    <button type="submit">Pay Bill</button>
</form>

<style>
    img {
    margin: 8px;
    object-fit: contain;
    transition: transform .2s;
    border-radius: 8px;
  }
    </style>
{% endblock %}